@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/audito.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Fixe l'image de fond */
}

.wrapper {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Ajouté pour centrer verticalement */
  text-align: center; /* Ajouté pour centrer horizontalement */
  margin-top: 7%;
}

.wrapper h1 {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  margin-bottom: 20px;
}

.input-box label {
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bcbcbc;
  border-radius: 25px;
  font-size: 14px;
}

.forgot-password {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password-link {
  color: #1c7895;
  text-decoration: none;
  font-weight: 700;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  padding: 10px;
  background-color: #630000;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.wrapper button:hover {
  background-color: #f0f0f0;
  color: #000;
  transform: scale(1.05);
}

.login-link {
  font-size: 12px;
  text-align: center;
}

#create-account {
  color: #c4c4c4;
}

#create-account-link {
  color: #1c7895;
  text-decoration: none;
  font-weight: 700;
}

#create-account-link:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
