.wrapper {
  width: 420px;
  height: 600px;
  background: white;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 80px 40px;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  /*border: 2px solid rgba(255, 255, 255, 0.2);*/
  border:2px solid #BCBCBC;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: transparent;

  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;

  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;

  padding: 10px 55px 10px 25px;
}

.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8 #26489a;
}


.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /*box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);*/
  border-radius: 0.5em;
  border-radius: 20px;

  color: #9fa5b5;
  position: absolute;
  top: 3.2em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #1C7895;
  color: #fff;
}

.menu li.disabled {
  color: #ccc; /* Change color to indicate disabled state */
  pointer-events: none; /* Disable pointer events */
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
  opacity: 1;
}

/*
.input-box .select:after {
    content: "\25BC"; 
     position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.input-box input::placeholder {
    color: #cccccc;
}*/

.input-box label {
  position: absolute;
  top: -10px; /* ajustez cette valeur selon vos besoins pour la distance entre le label et l'input */
  left: 50px;
  color: #1f7794;
  background-color: white; /* pour cacher la bordure supérieure */
  padding: 0 5px;
  font-size: 15px;
  font-weight: 700;
}
